<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <h3>Listado de familiares</h3>
    {% block buscar %} {% endblock %}
    <table border="1" style='width: 80%;'>
        <tr>
            <th>Datos familiar</th>
            <th>Elminar</th>
            <th>Actualizar</th>
        </tr>
        {% for familiar in object_list %}
            <tr>
                <td>{{familiar}}</td> 
                <td style="text-align: center;"><button><a href="{% url 'familiar-borrar' familiar.id %}">Borrar</a></button></td>
                <td style="text-align: center;"><button><a href="{% url 'familiar-actualizar' familiar.id %}">actualizar</a></button></td>
            </tr>
        {% endfor %}    
         
     </table>
    <br>
    <button><a href="{% url 'familiar-list'  %}">volver a la lista de familia</a></button>
    

</body>
</html>